body {
  background-color: #e0e0e0;
}



.textgroup li > input + * {
  display: none;
}
               
.textgroup li > input:checked + * {
  display: block;
}
                
.textgroup li > input {
  display: none;
}
                
.textgroup label {
  cursor: pointer;
  text-decoration:underline;
  color: #4183C4;
}
                
.textgroup li, li.work {
  list-style-type: none;
}
             
